* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
}

.main-body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Images/Hero-background-img.jpg);
  background-size: cover;
  height: 61rem;
}

.back-to-top-arrow:link,
.back-to-top-arrow:visited {
  background-color: #014396;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  text-align: center;
  color: #fff;
  z-index: 9999;
  transition: all 0.3s;
}

.back-to-top-arrow:hover,
.back-to-top-arrow:active {
  color: #e67e22;
}

.up-arrow {
  font-size: 2rem;
  padding-top: 1rem;
}

/****************************/
/* HEADER */
/****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 8rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.logo:link,
.logo:visited {
  text-decoration: none;
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.logo-name {
  font-weight: 900;
  font-size: 2.4rem;
  color: #014396;
  text-shadow: 0 0 2px #000;
}

.logo-name span {
  color: #ca7d3a;
}

.logo-text {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-btn:link,
.main-nav-btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2rem;
  border-radius: 7px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-btn:hover,
.main-nav-btn:active {
  background-color: #cf711f;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
  font-size: 1.6rem;
}

.fa-sun {
  color: #f39c12;
  font-size: 1.6rem;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/****************************/
/* SECTION-HERO */
/****************************/

.section-hero {
  max-width: 80rem;
  margin: 0 auto;
  padding: 10rem 3.2rem;
  text-align: center;
}

.hero-text {
  margin: 2.4rem 0;
  font-size: 2rem;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-primary .smart {
  color: #014396;
  text-shadow: 0 0 3px #000;
}

.heading-primary .home {
  color: #e67e22;
  text-shadow: 0 0 3px #000;
}

.hero-p {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2.4rem 0 3rem 0;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2rem;
  border-radius: 7px;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #cf711f;
}

/****************************/
/* SECTION-MAIN */
/****************************/

.section-main {
  max-width: 120rem;
  color: #fff;
  margin: 0 auto;
  padding: 2.4rem 3.2rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #014396;
}
.see-more:link,
.see-more:visited {
  display: inline-block;
  text-decoration: none;
  color: #014396;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.see-more:hover,
.see-more:active {
  color: #e67e22;
  text-decoration: underline;
}
.properties-img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.4rem;
}
.properties-img-list {
  border-radius: 5px;
  overflow: hidden;
}
.house-img {
  overflow: hidden;
}
.properties-img {
  width: 100%;
  height: 25rem;
  transition: all 0.3s;
}
.properties-img:hover {
  transform: scale(1.1);
}
.desc-background {
  background-color: #014396;
  margin-top: -0.2rem;
}
.house-desc {
  display: flex;
  padding: 2.4rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.house-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-p {
  font-size: 1.8rem;
}
.main-a:link,
.main-a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.main-a:hover,
.main-a:active {
  color: #e67e22;
}
.price {
  font-size: 2rem;
  font-weight: 500;
  color: #e67e22;
}
.house-details {
  display: flex;
  gap: 5rem;
  padding: 2rem 1.6rem;
  justify-content: center;
}
.details {
  font-size: 1.6rem;
}

.location-icon {
  font-size: 1.6rem;
}
.detail-icon {
  font-size: 2rem;
}

/****************************/
/* SECTION-PATRONIZE */
/****************************/

.section-patronize {
  background-color: #f5f8fe;
  color: #888;
}
.patronize {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6.4rem 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.patronize-h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #014396;
  margin-bottom: 1.6rem;
}
.patronize-h2 span {
  color: #e67e22;
}
.patronize-p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #014396;
  margin-bottom: 8rem;
  line-height: 1.2;
}
.patronize-desc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 2rem;
}
.patronize-desc-flex {
  display: flex;
  gap: 1.6rem;
}
.patronize-icon {
  font-size: 2.8rem;
  color: #555;
}
.patronize-desc {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.patronize-sub-topic {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
}
.patronize-text {
  font-size: 1.6rem;
  line-height: 1.4;
}
.patronize-img {
  width: 100%;
}

/****************************/
/* SECTION-TESTIMONIAL */
/****************************/

.section-testimonial {
  background-color: #3469ab;
}
.testimonial-h2 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6.4rem 3.2rem;
  font-size: 3rem;
  font-weight: 700;
}
.testimonials {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4.8rem;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.testimonial-img {
  width: 7rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.2;
}
.testimonial-name {
  font-size: 1.4rem;
}

/****************************/
/* FOOTER */
/****************************/

.footer {
  max-width: 110rem;
  padding: 8rem 3.2rem;
  margin: 0 auto;
  color: #000;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 6.4rem;
}
.footer-logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo:link,
.footer-logo:visited {
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer-logo-name {
  font-weight: 900;
  font-size: 2.8rem;
  color: #014396;
  text-align: left;
}

.footer-logo-name span {
  color: #ca7d3a;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/****************************/
/* DARK-MODE */
/****************************/

.dark-mode .main-section-main {
  background-color: #222;
}
.dark-mode .main-section-main .heading-secondary {
  color: #3469ab;
}
.dark-mode .main-section-main .see-more:link,
.dark-mode .main-section-main .see-more:visited {
  color: #3469ab;
}
.dark-mode .main-section-main .see-more:hover,
.dark-mode .main-section-main .see-more:active {
  color: #e67e22;
}

.dark-mode .section-testimonial {
  background-color: #333;
}

.dark-mode .footer-main {
  background-color: #222;
}
.dark-mode .footer {
  color: #fff;
}
.dark-mode .copyright {
  color: #ccc;
}
.dark-mode .footer-link:link,
.dark-mode .footer-link:visited {
  color: #888;
}
.dark-mode .footer-link:hover,
.dark-mode .footer-link:active {
  color: #ccc;
}

/* 

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
